{% extends 'base.html' %}
{% block head %}
    <p><a href="/">Назад ко списку</a></p>
{% endblock %}
{% block title %}Новое изображение{% endblock %}
{% block content %}
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <label for="url">Ссылка</label>
            <input type="url" id="url" name="url">
        </p>
        <p>
            <label for="file">Файл</label>
            <input type="file" id="file" name="file">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
{% endblock %}